#*#
*~
/*-[0-9][0-9].xml
archive.json
back.xml
draft-*-[0-9][0-9].fxml
draft-*-[0-9][0-9].html
draft-*-[0-9][0-9].txt
draft-*-[0-9][0-9].xml
*.html
*.pdf
*.redxml
.refcache
references.xml
report.xml
*.swp
.tags
.targets.mk
*.txt
*.upload
venv/
yang
lib
draft-richardson-anima-rfc8366bis.xml
